.App {
  text-align: center;
}

.Header-name {
  font-family: "Permanent Marker", cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
}

.partOfSpeech {
  font-family: "Permanent Marker", cursive;
  font-style: normal;
  font-weight: 200;
  font-size: 24px;
}

.example {
  padding: 5px;
}

@media screen and (max-width: 578px) {
  .definition {
    padding-left: 20px;
    padding-right: 20px;
  }

  .Header-name {
    font-family: "Permanent Marker", cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
  }
}
